@import 'navbar';
@import 'releaseCards';
@import 'osIcons';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
}

a {
    color: rgb(43, 221, 183);
}

.container {
    padding-top: 140px;
    margin: 10px 20px;
    text-align: center;
    animation: slideInUp 1.2s;
}

.title, .big-title {
    margin-bottom: -25px;
}

.title {
    font-size: 42px;
}

.big-title {
    font-size: 64px;
}

.big-icon {
    width: 25%;
    min-width: 120px;
    max-width: 200px;
    margin-bottom: -30px;
}

.no-margin {
    margin-bottom: 0;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.description {
    color: rgb(151, 151, 151);
    font-size: 24px;
}

.descExtended {
    width: 70%;
    max-width: 950px;
    margin: auto;
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
}

.detail {
    color: rgb(158, 158, 158);
    font-size: 18px;
}

.releaseLabel {
    padding: 3px 10px;
    border-radius: 6px;
    margin-left: 8px;
    color: white;
}

.preRelease {
    background: rgb(218, 45, 22);
    &::before {
        content: "BETA";
    }
}

.stableRelease {
    background: rgb(0, 199, 33);
    &::before {
        content: "STABLE";
    }
}

.starsBadge {
    display: inline-block;
    vertical-align: 10%;
    margin-left: 5px;
}

a.btnDefault {
    $btnColor: rgb(0, 204, 255);

    padding: 10px 25px;
    border: 2px solid $btnColor;
    border-radius: 7px;
    color: $btnColor;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.5s;

    i {
        margin-right: 8px;
    }

    &:hover {
        background: $btnColor;
        color: white;
    }
}

#github h2 {
    padding-bottom: 10px !important;
}

.screenshot {
    width: 90%;
    max-width: 1220px;
    min-width: 300px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.295);
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1.2s;
}

section {
    margin-bottom: 100px;
}

.statsBar {
    i {
        color: rgb(50, 235, 173);
        font-size: 45px;
    }

    div {
        display: inline-block;
        margin: 15px;
        font-size: 22px;
        color: grey;
    }
}
