html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
}

a {
    color: rgb(43, 221, 183);
}

.container {
    padding-top: 160px;
    text-align: center;
}

.title {
    font-size: 42px;
}

.big-title {
    font-size: 56px;
    margin-bottom: -25px;
}

.description {
    color: rgb(151, 151, 151);
    font-size: 24px;
}

.detail {
    color: rgb(158, 158, 158);
    font-size: 18px;
}
