html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
}

a {
    color: rgb(43, 221, 183);
}

.container {
    padding: 140px 0;
    text-align: center;
}

.title, .big-title {
    margin-bottom: -25px;
}

.title {
    font-size: 42px;
}

.big-title {
    font-size: 56px;
}

#titleDownloads {
    margin-bottom: 0;
}

.description {
    color: rgb(151, 151, 151);
    font-size: 24px;
}

.detail {
    color: rgb(158, 158, 158);
    font-size: 18px;
}

.osIcons {
    i {
        font-size: 100px;
        color: rgb(122, 122, 122);
        margin: 40px;
        transition: color 0.3s;
        cursor: pointer;

        &.fa-windows:hover {
            color: rgb(89, 180, 255);
        }

        &.fa-apple:hover {
            color: black;
        }

        &.fa-linux:hover {
            color: rgb(255, 145, 0);
        }

        &.fa-android {
            color: rgb(230, 230, 230);
        }
    }
}

.pre-release {
    padding: 3px 10px;
    border-radius: 6px;
    margin-left: 8px;
    background: rgb(218, 45, 22);
    color: white;
}

.releaseNotes {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    resize: none;
}

.starsBadge {
    display: inline-block;
    vertical-align: 10%;
    margin-left: 5px;
}
