<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="description" content="Delta - Een moderne versie van Magister, gemaakt voor leerlingen.">
    <meta property="og:title" content="Delta">
    <meta property="og:description" content="Een moderne versie van Magister, gemaakt voor leerlingen.">
    <meta property="og:image" content="https://github.com/deltaproject/Delta/blob/master/img/icons/icon@64px.png">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/master/dist/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/deltaproject/Delta/master/img/icons/icon%4064px.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="./dist/css/master.css">
    <title>Project: Delta</title>
</head>
<body>
    <div id="app">
    <div id="navbar">
        <span id="hamburger" class="no-select">&#9776;</span>
        
        <ul>
            <li><img src="https://github.com/deltaproject/Delta/raw/master/img/icons/icon.png" alt="Delta Icon"></li>
            <li><a href="#">Home</a></li>
            <li><a href="#downloads">Downloads</a></li>
            <li><a href="#updates">Wat is er nieuw</a></li>
            <li><a href="#about">Over</a></li>
            <li><a href="#github">GitHub</a></li>
        </ul>
    </div>

    <div class="container">
        <section>
            <img src="https://github.com/deltaproject/Delta/raw/master/img/icons/icon.png" alt="Delta Icon" class="big-icon">
            <h1 class="big-title">Magister. Vernieuwd.</h1>
            <h2 class="description">Een compleet vernieuwde gebruikerservaring voor leerlingen.</h2>
            <img src="https://raw.githubusercontent.com/deltaproject/Delta/master/img/screenshots/screenshot.png"
                alt="Screenshot" class="screenshot">
        </section>

        <section id="downloads">
            <h1 class="title no-margin">Downloads</h1>
            <h2 class="description">{{ version }}
                <div class="badgeContainer" v-if="releases.length != 0">
                    <span class="badge"
                        :class="{ preRelease: isPreRelease, stableRelease: !isPreRelease }"></span>
                    <span class="badge newRelease" v-if="isNewRelease(releases[0])"></span>
                </div>
            </h2>
            <div class="osIcons">
                <a :href="downloads.windows"><i class="fab fa-windows" title="Download voor Windows"></i></a>
                <a :href="downloads.macos"><i class="fab fa-apple" title="Download voor macOS"></i></a>
                <a :href="downloads.linux"><i class="fab fa-linux" title="Download voor Linux"></i></a> 
                <a href="#"><i class="fab fa-android" title="De Android-app is helaas nog niet beschikbaar."></i></a>
            </div>

            <p class="detail">of download de <a :href="downloads.source">source code</a> voor deze versie.</p>
        </section>

        <section id="updates">
            <h1 class="title">Wat is er nieuw</h1>
            <h2 class="description">Hieronder vind je de release notes van alle versies.</h2>

            <div class="releaseContainer">
                <div v-for="i in releases" class="releaseCard" @click="openReleasePage(i.tag_name)">
                    <p class="releaseTitle">{{ i.tag_name }}
                        <div class="badgeContainer">
                            <span class="badge"
                                :class="{ stableRelease: !i.prerelease, preRelease: i.prerelease }"></span>
                            <span class="badge newRelease" v-if="isNewRelease(i)"></span>
                        </div>
                    </p>

                    <div v-html="getHtmlBody(i.body)" class="releaseBody"></div>
                </div>
            </div>
        </section>

        <section id="about">
            <h1 class="title">Over</h1>
            <h2 class="description">Delta is een project dat streeft naar een betere en transparante gebruikerservaring.</h2>
            <p class="descExtended">
                <b>Project: Delta</b> is een non-profitorganisatie die zich bezighoudt met het verbeteren van Magister. Magister is een populaire app gemaakt voor leerlingen op het voortgezet onderwijs. Docenten kunnen via deze app cijfers, huiswerk, afspraken, toetsen, etc. invoeren. Deze app is heel handig, maar niet perfect.
            </p>

            <p class="descExtended">
                Wij wilden echter een stapje verder. We zijn erin geslaagd om Magister-gegevens als basis te gebruiken en daaromheen een moderne en cross-platform gebruikersinterface te bouwen. De gegevens worden van de Magister-servers gehaald door middel van de library <a target="_blank" href="https://github.com/simplyGits/MagisterJS">MagisterJS</a>. De rest is opgebouwd uit Node.js, Electron, Vue.js, SCSS en HTML.
            </p>
            <a href="#downloads" class="btnDefault"><i class="fas fa-download"></i>Download nu</a>
        </section>

        <section id="github">
            <h1 class="title no-margin">
                GitHub
                <a class="starsBadge" target="_blank" href="https://github.com/deltaproject/Delta">
                    <img src="https://img.shields.io/github/stars/deltaproject/Delta.svg?label=Stars&style=social" alt="Stars">
                </a>
            </h1>

            <div class="statsBar">
                <div class="gitCommits">
                    <i class="fas fa-code"></i>
                    <p>{{ stats.commits }} commits</p>
                </div>
            
                <div class="gitContributors">
                    <i class="fas fa-users"></i>
                    <p>{{ stats.contributors }} bijdrager{{ stats.contributors == 1 ? "" : "s" }}</p>
                </div>

                <div class="gitReleases">
                    <i class="fas fa-tag"></i>
                    <p>{{ stats.releases }} versies</p>
                </div>

                <div class="gitLicense">
                    <i class="fas fa-award"></i>
                    <p>{{ stats.license }} licentie</p>
                </div>
            </div>

            <h2 class="description">Delta wordt gehost in een GitHub-repository en is <a target="_blank" href="https://nl.wikipedia.org/wiki/Open_source">open source</a>.</h2>
            <a target="_blank" href="https://github.com/deltaproject/Delta"
                class="btnDefault"><i class="fas fa-code"></i>Bekijk op GitHub</a>
        </section>
    </div>
    </div>

    <script src="./js/index.js"></script>
</body>
</html>
