<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="./dist/css/styles.css">
    <title>Project: Delta</title>
</head>
<body id="home">
    <div id="app">
    <div class="navBar">
        <ul>
            <li><img src="https://github.com/deltaproject/Delta/raw/master/img/icons/icon.png" alt=""></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#downloads">Downloads</a></li>
            <li><a href="#release">Wat is er nieuw</a></li>
        </ul>
    </div>

    <div class="container">

        <h1 class="big-title">Magister. Vernieuwd.</h1>
        <h2 class="description">Een compleet vernieuwde gebruikerservaring voor leerlingen.</h2>

        <section id="downloads">
            <h1 class="title">Downloads</h1>
            <h2 class="description">{{ version }} <span class="pre-release" v-if="isPreRelease">BETA</span></h2>
            <div class="osIcons">
                <a :href="downloads.windows"><i class="fab fa-windows" title="Download voor Windows"></i></a>
                <a :href="downloads.macos"><i class="fab fa-apple" title="Download voor macOS"></i></a>
                <a :href="downloads.linux"><i class="fab fa-linux" title="Download voor Linux"></i></a> 
                <a href="#"><i class="fab fa-android" title="De Android-app is helaas nog niet beschikbaar."></i></a>
            </div>
        </section>

        <section id="release">
            <h1 class="title">Wat is er nieuw</h1>
            <h2 class="description">Hieronder vind je de release notes van de meest recente versie.</h2>
            <textarea name="releaseNotes" class="releaseNotes" cols="55"
                rows="15" v-model="desc" readonly></textarea>
        </section>
    </div>

    </div>

    <script src="./js/index.js"></script>
</body>
</html>
